<%= form_for(@report_title) do |f| %>
  <% if @report_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report_title.errors.count, "error") %> prohibited this report_title from being saved:</h2>

      <ul>
      <% @report_title.errors.full_messages.each do |msg| %>
      <%= javascript_include_tag "tiny_mce/tiny_mce" %>
      
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :guide %><br />
    <%= f.text_area :guide %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  tinymce.init({selector: '#report_title_guide'})
</script>