<h1>Listing report_titles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Guide</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @report_titles.each do |report_title| %>
  <tr>
    <td><%= report_title.title %></td>
    <td><%= report_title.guide %></td>
    <td><%= link_to 'Show', report_title %></td>
    <td><%= link_to 'Edit', edit_report_title_path(report_title) %></td>
    <td><%= link_to 'Destroy', report_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report title', new_report_title_path %>
