<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @report_title.title %>
</p>

<p>
  <b>Guide:</b>
  <%= @report_title.guide %>
</p>


<%= link_to 'Edit', edit_report_title_path(@report_title) %> |
<%= link_to 'Back', report_titles_path %>
